body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
}

.chapters {
    display: none;
    padding-left: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.chapters div {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #bbb;
    border-radius: 5px;
    text-align: center;
    width: 30px;  /* Ancho fijo para los capítulos */
    box-sizing: border-box;  /* Para incluir el padding y el border en el ancho total */
}

.chapter-content {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    white-space: pre-wrap; /* Esto mantiene los saltos de línea del archivo de texto */
}
